{
	"env": {
		"target": {
			"node": 18
		}
	},
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"dynamicImport": true
		},
		"baseUrl": "."
	},
	"module": {
		"type": "commonjs"
	},
	"sourceMaps": "inline"
}